.place {
    max-width: 984px;
    margin-bottom: 80px;
    display: grid;

    /*  grid-template-columns: minmax(auto, 460px(auto, 484px)); */
    grid-template-columns: 460px 1fr;


    grid-template-rows: min-content min-content;
    gap: 48px 40px;
    grid-template-areas:
        "title website"
        "image text";
}

.place:last-child {
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 728px;
        margin-bottom: 73px;
        /*      grid-template-columns: minmax(auto, 340px) minmax(auto, 352px);  */
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
    }

}

@media screen and (max-width: 600px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "website"
            "image"
            "text";
        row-gap: 32px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 460px) {
    .place {
        max-width: 320px;
    }
}